# Cache e sessão do whatsapp-web.js
.wwebjs_auth/
.wwebjs_cache/

# Dependências
node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build
dist
build

# Env
.env
.env.local
.env.*.local

# Outros
.DS_Store
